body {
    background-image: url('1.jpg');
    font-family: "Bonzai", serif;
	font-size: 16pt;
}

form {
    width:30%;
    border:0px solid;
    top: 82px; 
    left: 170px; 
    bottom: 0; 
    right: 0;
    margin-left:35%;
	text-align: center;
    background: linear-gradient(90deg,
		rgba(255,255,255,0.2) 0%,
		rgba(255,255,255, 0.5) 25%,
		rgba(255,255,255, 0.5) 75%,
		rgba(255,255,255, 0.2) 100%);
    box-shadow: 0 0 25px rgba(0,0,0, 0.1), inset 0 0 1px rgba(255,255,255, 0.6);
    border-radius: 20px;
    padding: 25px 15px 25px 10px;
    color: navy;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #FFF;
}

textarea {
    width:80%;
	height:150px;
    font-family: "Book Antiqua", serif;
	font-size: 12pt;
    color: navy;
}

select{
    font-family: "Book Antiqua", serif;
	font-size: 12pt;
    color: navy;
}

input{
    font-family: "Book Antiqua", serif;
	font-size: 12pt;
    color: navy;
}


